@font-face {
  font-family: "Hisqaida2018-Bold";
  src: url("../../shared/assets/fonts/Hisqaida2018-Bold.eot");
  src: url("../../shared/assets/fonts/Hisqaida2018-Bold.eot?#iefix") format("embedded-opentype"), url("../../shared/assets/fonts/Hisqaida2018-Bold.woff") format("woff"), url("../../shared/assets/fonts/Hisqaida2018-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Intro Black";
  src: url("../../shared/assets/fonts/Intro-Black.eot");
  src: url("../../shared/assets/fonts/Intro-Black.eot?#iefix") format("embedded-opentype"), url("../../shared/assets/fonts/Intro-Black.woff") format("woff"), url("../../shared/assets/fonts/Intro-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MagistralTT";
  src: url("../../shared/assets/fonts/MagistralTT.eot");
  src: url("../../shared/assets/fonts/MagistralTT.eot?#iefix") format("embedded-opentype"), url("../../shared/assets/fonts/MagistralTT.woff") format("woff"), url("../../shared/assets/fonts/MagistralTT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Magistral Black";
  src: url("../../shared/assets/fonts/MagistralBlack.eot");
  src: url("../../shared/assets/fonts/MagistralBlack.eot?#iefix") format("embedded-opentype"), url("../../shared/assets/fonts/MagistralBlack.woff") format("woff"), url("../../shared/assets/fonts/MagistralBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya Sans SC Bold";
  src: url("../../shared/assets/fonts/AlegreyaSansSC-Bold.eot");
  src: url("../../shared/assets/fonts/AlegreyaSansSC-Bold.eot?#iefix") format("embedded-opentype"), url("../../shared/assets/fonts/AlegreyaSansSC-Bold.woff") format("woff"), url("../../shared/assets/fonts/AlegreyaSansSC-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria Regular";
  src: url("../../shared/assets/fonts/Geometria.eot");
  src: url("../../shared/assets/fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../../shared/assets/fonts/Geometria.woff") format("woff"), url("../../shared/assets/fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria Bold";
  src: url("../../shared/assets/fonts/Geometria-Bold.eot");
  src: url("../../shared/assets/fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../../shared/assets/fonts/Geometria-Bold.woff") format("woff"), url("../../shared/assets/fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CourierNew";
  src: url("../../shared/assets/fonts/CourierNewPSMT.eot");
  src: url("../../shared/assets/fonts/CourierNewPSMT.eot?#iefix") format("embedded-opentype"), url("../../shared/assets/fonts/CourierNewPSMT.woff") format("woff"), url("../../shared/assets/fonts/CourierNewPSMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
