@import "./normalize";
@import "./variables/global";
@import "./fonts";

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #201727;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-yellow1);
    box-shadow: 0 0 40px 10px rgba(var(--color-yellow1) 0.2);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  outline: none;
}

.btn {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &-text,
  &-icon {
    position: relative;
    z-index: 2;
  }

  &-icon {
    flex: 0 0 auto;
    line-height: 0;
  }

  &-yellow {
    position: relative;
    overflow: hidden;
    border: 3px solid var(--color-yellow1);
    background-color: transparent;
    color: var(--color-yellow1);

    .btn-icon {
      svg,
      path {
        fill: var(--color-yellow1);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      clip-path: circle(0 at 50% 50%);
      background-color: rgba(var(--color-yellow1) 1);
      transition: 0.3s ease-in-out;
      will-change: clip-path;
    }

    &:hover {
      &::before {
        clip-path: circle(100% at 50% 50%);
      }

      .btn-text {
        color: var(--color-white);
      }
    }

    .btn {
      &-text,
      &-icon {
        transition: 0.3s ease-in-out;
      }
    }
  }

  &-translucent {
    &-light {
      position: relative;
      background-color: rgba(var(--color-white) 0.03);
      color: var(--color-white);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        clip-path: circle(0 at 50% 50%);
        background-color: rgba(var(--color-white) 0.04);
        transition: 0.3s ease-in-out;
        will-change: clip-path;
      }

      &:hover {
        &::before {
          clip-path: circle(100% at 50% 50%);
        }
      }
    }
  }
}

._text {
  &-upper {
    text-transform: uppercase;
  }
}
