@font-face {
  font-family: "Hisqaida2018-Bold";
  src: url("../assets/fonts/Hisqaida2018-Bold.eot");
  src: url("../assets/fonts/Hisqaida2018-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Hisqaida2018-Bold.woff") format("woff"), url("../assets/fonts/Hisqaida2018-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
._text-upper {
  text-transform: uppercase;
}

._c-purple-1 {
  color: #161325;
}
._c-purple-2 {
  color: #1B172B;
}
._c-purple-3 {
  color: #1F1A2E;
}
._c-purple-4 {
  color: #352c4a;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.layout-row {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: 470px 1fr;
  background-color: #1F1A2E;
}
.layout-row::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: block;
  width: 1px;
  height: 1px;
  -webkit-box-shadow: 0px 0px 500px 150px rgba(114, 0, 255, 0.2);
          box-shadow: 0px 0px 500px 150px rgba(114, 0, 255, 0.2);
}
.layout-row::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 1px;
  height: 1px;
  -webkit-box-shadow: 0px 0px 500px 300px rgba(56, 26, 46, 0.7);
          box-shadow: 0px 0px 500px 300px rgba(56, 26, 46, 0.7);
}

.sidebar {
  position: relative;
  z-index: 2;
  height: 100%;
}
.sidebar__bg-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1B172B;
  -webkit-clip-path: polygon(100% 0%, 50% 60%, 100% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 50% 60%, 100% 100%, 0% 100%, 0% 0%);
}
.sidebar__bg-2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 395px;
  height: 100%;
  background-color: #161325;
  -webkit-clip-path: polygon(0% 0%, 65% 0%, 100% 50%, 65% 100%, 0% 100%, 0% 50%);
          clip-path: polygon(0% 0%, 65% 0%, 100% 50%, 65% 100%, 0% 100%, 0% 50%);
}
.sidebar__shape-1 {
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 2;
  width: 370px;
  height: 10px;
  background-color: #1F1A2E;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
}
.sidebar-guide {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50px;
  z-index: 2;
  width: 90px;
  height: 500px;
}
.sidebar-guide__shape {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0% 0%, 14.2% 0%, 100% 50%, 28.3% 100%, 11.3% 100%, 95.3% 50%);
          clip-path: polygon(0% 0%, 14.2% 0%, 100% 50%, 28.3% 100%, 11.3% 100%, 95.3% 50%);
  background: -webkit-gradient(linear, left bottom, left top, from(#ffb849), to(#ff2452));
  background: -o-linear-gradient(bottom, #ffb849 0%, #ff2452 100%);
  background: linear-gradient(0deg, #ffb849 0%, #ff2452 100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar-guide-text {
  position: absolute;
  bottom: 100px;
  right: -100px;
  -webkit-transform: rotate(-75deg);
      -ms-transform: rotate(-75deg);
          transform: rotate(-75deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.sidebar-guide-label {
  white-space: nowrap;
  font-family: "Hisqaida2018-Bold";
  font-size: 16px;
  color: #352c4a;
}
.sidebar-guide-icon {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}/*# sourceMappingURL=styles.css.map */