$purple1: #161325
$purple2: #1B172B
$purple3: #1F1A2E
$purple4: #352c4a
$purple5: #706980
$purple6: #2A1C3D
$purple7: #312341
$purple8: #564d69
$purple9: #2D263D
$purple10: #281F36
$yellow1: #ffb849
$yellow2: #FFC700
$white: #FFFFFF
$red1: #F11C4D
$red2: #ff2652
$blue1: #00DFFF
$green1: #00E868
$green2: #00F493
$green3: #D0F400
$green4: #A7E800
$green5: #2dd584
$green6: #8fca0a
$blue2: #00B2F6
$blue3: #277fff
$violet: #7200ff
$orange1: #ec561b
$orange2: #ffa300
