:root {
  /* Typography */
  --font-size-xs: 12px;
  --font-line-xs: 20px;
  --font-size-s: 14px;
  --font-line-s: 22px;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-hisqaida-bold: "Hisqaida2018-Bold", system-ui, -apple-system, sans-serif;
  --font-intro-black: "Intro Black", system-ui, -apple-system, sans-serif;
  --font-maristraltt: "MagistralTT", system-ui, -apple-system, sans-serif;
  --font-magistral-black: "Magistral Black", system-ui, -apple-system, sans-serif;
  --font-alegreya-bold: "Alegreya Sans SC Bold", system-ui, -apple-system, sans-serif;
  --font-geometria-regular: "Geometria Regular", system-ui, -apple-system, sans-serif;
  --font-geometria-bold: "Geometria Bold", system-ui, -apple-system, sans-serif;
  --font-couriernew: "CourierNew", system-ui, -apple-system, sans-serif;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-purple1: #161325;
  --color-purple2: #1b172b;
  --color-purple3: #1f1a2e;
  --color-purple4: #352c4a;
  --color-purple5: #706980;
  --color-purple6: #2a1c3d;
  --color-purple7: #312341;
  --color-purple8: #564d69;
  --color-purple9: #2d263d;
  --color-purple10: #281f36;
  --color-yellow1: #ffb849;
  --color-yellow2: #ffc700;
  --color-red1: #f11c4d;
  --color-red1-rgb: 241 28 77;
  --color-red2: #ff2652;
  --color-red2-rgb: 255 38 82;
  --color-blue1: #00dfff;
  --color-green1: #00e868;
  --color-green2: #00f493;
  --color-green2-rgb: 0 244 147;
  --color-green3: #d0f400;
  --color-green4: #a7e800;
  --color-green5: #2dd584;
  --color-green6: #8fca0a;
  --color-blue2: #00b2f6;
  --color-blue3: #277fff;
  --color-violet: #7200ff;
  --color-orange1: #ec561b;
  --color-orange1-rgb: 236 86 27;
  --color-orange2: #ffa300;

  /* z indexes */
  --z-index-modal: 10;
}
