.white {
  color: var(--color-white);
}

.yellow_1 {
  color: var(--color-yellow1);
}

.red_1 {
  color: var(--color-red1);
}

.blue_1 {
  color: var(--color-blue1);
}

.purple_1 {
  color: var(--color-purple1);
}

.purple_2 {
  color: var(--color-purple2);
}

.purple_3 {
  color: var(--color-purple3);
}

.purple_4 {
  color: var(--color-purple4);
}
