.ContactLink {
  display: flex;
  align-items: center;
  gap: 12px;

  &_icon {
    flex: 0 0 40px;
    width: 40px;
    line-height: 0;

    svg {
      box-shadow: 0 0 50px 10px rgba(var(--color-red1-rgb) / 15%), inset 0 0 40px 5px rgba(var(--color-red1-rgb) / 10%);
      width: 100%;
    }
  }

  &_c {
    &_h {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &_label {
    font-family: var(--font-magistral-black);
    font-size: 15px;
    color: #73628c;
  }

  &_indicator {
    border-radius: 3px;
    width: 4px;
    height: 4px;
    background-color: var(--color-green1);
    animation: blink 1s linear 0s infinite normal forwards;
  }

  &_value {
    margin-top: 8px;
    font-family: var(--font-magistral-black);
    font-size: 19px;
    color: var(--color-white);
  }
}

@keyframes blink {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--color-green2-rgb) / 30%);
  }

  50% {
    box-shadow: 0 0 4px 4px rgba(var(--color-green2-rgb) / 30%);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(var(--color-green2-rgb) / 30%);
  }
}
