.form2
  &-input
    border: none
    border-bottom: 3px solid #312343
    width: 100%
    height: 78px
    padding: 0 28px
    background-color: #22192F
    +geometria-bold
    font-size: 18px
    color: $yellow1
    transition: 0.3s ease-in-out
    &::placeholder
      color: #67607a
    &:focus
      border-color: $yellow1
    &._error
      border-color: $red1
      color: $red1
      &::placeholder
        text-align: right
        font-size: 13px
        color: $red1
    &-block
      position: relative
    &-icon
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: 27px
      img, svg
        width: 22px
      & + .form2-input
        padding-right: 55px
  &-btn
    padding: 0 28px
    height: 78px
    gap: 10px
    justify-content: space-between
    +intro-black
    font-size: 23px
    &:hover
      .btn-icon
        svg, path
          fill: $white
    &._border-thin
      border-width: 1px
    &._center
      justify-content: center
    .btn-icon
      path
        transition: 0.3s ease-in-out
