.sidebar
  position: relative
  z-index: 2
  width: 480px
  height: 100%
  &-shape
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #25153A
    clip-path: polygon(100% 0%, 50% 60%, 100% 100%, 0% 100%, 0% 0%)
  &__inner
    position: relative
    z-index: 3
    padding: 30px 0
    width: 400px
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    background-color: #221337
  &-logo
    line-height: 0
  &__logo
    margin-left: 80px
    margin-bottom: 60px
  &-link
    position: relative
    padding-left: 80px
    height: 75px
    display: flex
    align-items: center
    gap: 14px
    transition: 0.3s ease-in-out
    overflow: hidden
    &:before
      content: ''
      position: absolute
      z-index: 1
      top: 0
      left: 0
      width: 200%
      height: 100%
      background: linear-gradient(90deg, rgba($white, 0) 0%, rgba($white, 0.1) 100%)
      opacity: 0
      transition: 0.3s ease-in-out
    &:hover
      &::before
        opacity: 1
        transform: translateX(-50%)
      .sidebar-link
        &-shape
          opacity: 1
        &-icon
          svg
            fill: $yellow1
        &-label
          color: $yellow1
    &-shape
      position: absolute
      top: 0
      bottom: 0
      right: 0
      z-index: 2
      height: 100%
      width: 3px
      background: $yellow2
      box-shadow: 0px 0px 30px 5px rgba($yellow2, 0.2)
      opacity: 0
      transition: opacity 0.3s ease-in-out
      &::before
        content: ''
        position: absolute
        z-index: 1
        top: 50%
        transform: translateY(-50%)
        left: -12px
        border: 6px solid transparent
        border-right-color: $yellow2
    &-icon
      flex: 0 0 auto
      line-height: 0
      svg
        transition: 0.3s ease-in-out
        fill: $purple5
    &-label
      +magistraltt
      font-weight: bold
      font-size: 20px
      letter-spacing: 2px
      color: $purple5
      transition: 0.3s ease-in-out
  &-f
    margin-top: 80px
  &-outbtn
    position: relative
    width: 100%
    height: 90px
    padding: 0 20px
    background-color: transparent
    font-size: 20px
    +magistral-black
    color: $white
    overflow: hidden
    &:hover
      .sidebar-outbtn
        &-backdrop
          transform: translateX(50%)
        &-space
          opacity: 1
    &-backdrop
      position: absolute
      top: 0
      right: 0
      z-index: 1
      width: 200%
      height: 100%
      border-top: 3px solid transparent
      border-bottom: 3px solid transparent
      border-image: linear-gradient(90deg, $red2 0%, $red2 50%, rgba($red2, 0.01) 100%)
      border-image-slice: 1
      background: linear-gradient(90deg, rgba($red2, 0.4) 0%, rgba($red2, 0.01) 100%)
      transition: 0.5s
    .btn-text
      position: relative
      z-index: 3
    &-space
      position: absolute
      top: 0
      left: 0
      z-index: 2
      width: 100%
      height: 100%
      overflow: hidden
      opacity: 0
      transition: opacity 0.2
      .item
        position: absolute
        top: 50%
        left: 50%
        border-radius: 50%
        background-color: $red2
        opacity: 1
        &:nth-of-type(1)
          width: 5px
          height: 5px
          animation: star1 0.8s linear 0s infinite normal forwards
        &:nth-of-type(2)
          width: 5px
          height: 5px
          animation: star2 0.8s linear 0s infinite normal forwards
        &:nth-of-type(3)
          width: 8px
          height: 4px
          animation: star3 0.8s linear 0s infinite normal forwards
        &:nth-of-type(4)
          width: 3px
          height: 3px
          animation: star4 0.8s linear 0s infinite normal forwards
        &:nth-of-type(5)
          width: 7px
          height: 7px
          animation: star5 0.5s linear 0s infinite normal forwards
        &:nth-of-type(6)
          width: 6px
          height: 6px
          animation: star6 0.5s linear 0s infinite normal forwards
        &:nth-of-type(7)
          width: 5px
          height: 5px
          animation: star7 0.5s linear 0s infinite normal forwards
        &:nth-of-type(8)
          width: 5px
          height: 5px
          animation: star8 0.8s linear 0s infinite normal forwards
        &:nth-of-type(9)
          width: 7px
          height: 7px
          animation: star9 0.8s linear 0s infinite normal forwards
        &:nth-of-type(10)
          width: 7px
          height: 7px
          animation: star10 0.5s linear 0s infinite normal forwards
        &:nth-of-type(11)
          width: 3px
          height: 3px
          animation: star11 0.5s linear 0s infinite normal forwards
        &:nth-of-type(12)
          width: 4px
          height: 4px
          animation: star12 0.5s linear 0s infinite normal forwards
        &:nth-of-type(13)
          width: 4px
          height: 4px
          animation: star13 0.5s linear 0s infinite normal forwards

@keyframes star1
  0%
    opacity: 1
  100%
    transform: translate(30px, 100px)

@keyframes star2
  0%
    opacity: 1
  100%
    transform: translate(30px, -100px)

@keyframes star3
  0%
    opacity: 1
  100%
    transform: translate(100px, -100px)

@keyframes star4
  0%
    opacity: 1
  100%
    transform: translate(-60px, -100px)

@keyframes star5
  0%
    opacity: 1
  100%
    transform: translate(-100px, -50px)

@keyframes star6
  0%
    opacity: 1
  100%
    transform: translate(-250px, -10px)

@keyframes star7
  0%
    opacity: 1
  100%
    transform: translate(-100px, 40px)
@keyframes star8
  0%
    opacity: 1
  100%
    transform: translate(-20px, 100px)
@keyframes star9
  0%
    opacity: 1
  100%
    transform: translate(60px, 100px)
@keyframes star10
  0%
    opacity: 1
  100%
    transform: translate(200px, 30px)
@keyframes star11
  0%
    opacity: 1
  100%
    transform: translate(-200px, 30px)
@keyframes star12
  0%
    opacity: 1
  100%
    transform: translate(200px, -30px)
@keyframes star13
  0%
    opacity: 1
  100%
    transform: translate(250px, 5px)
