.pep
  position: relative
  height: 100%
  padding-top: 100px
  &-title
    text-align: right
    position: absolute
    z-index: 1
    top: 30px
    left: 0
    transform: rotate(-5deg)
    +magistral-black
    font-size: 47px
    color: #2D1C46
    .sup
      font-size: 20px
  &-grid
    position: relative
    height: 100%
    padding-right: 36px
    z-index: 2
    display: grid
    grid-template-columns: 300px 1fr
    gap: 30px
    &-card
      display: flex
      align-items: center
  &-ec
    gap: 35px
    &._frontend, &._backend, &._design
      background: transparent
  &-prt
    height: calc(100vh - 100px)
    padding-right: 36px
    overflow-y: auto
    &-track
      display: flex
      gap: 30px
    &__inner
      flex: 1 1 auto
    &-row
      margin-bottom: 16px
      display: grid
      justify-content: space-between
      gap: 16px
      &._pattern
        &-1
          grid-template-columns: 1.1fr 0.9fr
        &-2
          grid-template-columns: 1.2fr 0.8fr 1fr
  &-tl
    flex: 0 0 auto
    &-item
      margin-bottom: 25px
      display: flex
      align-items: center
      justify-content: flex-end
      &._active
        .pep-tl
          &-val
            color: $white
          &-line
            background-color: $white
      &._year
        gap: 12px
        .pep-tl-line
          flex: 0 0 20px
          width: 20px
      &._month
        gap: 22px
        .pep-tl-line
          flex: 0 0 10px
          width: 10px
    &-val
      text-align: right
      +alegreya
      font-size: 16px
      color: #474159
    &-line
      height: 1px
      background-color: #474159
