.pmain
  padding-top: 200px
  &-slider
    overflow-y: auto
    padding-left: 40px
    padding-bottom: 80px
    &-row
      display: flex
      gap: 16px
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start
      flex-wrap: wrap
  &-pcard
    height: 244px
