.btn
  border: none
  display: inline-flex
  align-items: center
  justify-content: center
  cursor: pointer
  &-yellow
    position: relative
    overflow: hidden
    border: 3px solid $yellow1
    background-color: transparent
    color: $yellow1
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 1
      width: 100%
      height: 100%
      clip-path: circle(0 at 50% 50%)
      background-color: rgba($yellow1, 1)
      transition: 0.3s ease-in-out
      will-change: clip-path
    &:hover
      &::before
        clip-path: circle(100% at 50% 50%)
      .btn-text
        color: $white
    .btn-text
      position: relative
      z-index: 2
      transition: 0.3s ease-in-out
